{
"presets": ["es2015"],
  "plugins":["transform-vue-jsx"],// ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
